p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: black;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#title-page {
    width: 50%;
    align-content: center;
}

#title-page .title-headers{
    width: 100%;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
}

#title-image {
    width: 50%;
    height: auto;
    overflow: hidden;
}

.scenery-image {
    height: 100vh;
}

.blogpost {
    width: 80%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.blogimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    height: 100px;
    text-align: center
}


